@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
  }
}
